[Unit]
Description=Better Weather's Flask API for hourly predictions
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/bw/prediction/api
ExecStart=/home/ubuntu/bw/prediction/api/venv/bin/gunicorn -b 127.0.0.1:5000 api:app
Restart=always

[Install]
WantedBy=multi-user.target
