* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
}

.early-morning {
  background-image: linear-gradient(#78a3eb, #fbc2eb);
}

.mid-day {
  background-image: linear-gradient(#78a3eb, #acd1d1);
}

.evening {
  background-image: linear-gradient(#3c21b7, #8b63da, #cb98ed, #cfcbd2);
}

.night {
  background-image: linear-gradient(#051960, #3c21b7, #8b63da);
}

/*.app {
  background-image: url("../img/blue-gradient.jpg");*/
/*background-image: linear-gradient(#051960, #591da9);
  background-image: linear-gradient(#051960, #3c21b7, #8b63da);
  transition: all 1.5s ease-in-out;
}*/

/*.app.warm {
  background-image: url("../img/pink-gradient.jpg");
  background-image: linear-gradient(#78a3eb, #fbc2eb);
}*/

.main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.15)
  );
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 auto 25px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;

  box-shadow: 0px 4px rgba(0, 0, 0, 0.07);

  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.date {
  color: white;
  font-size: 23px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.currTemp {
  text-align: center;
  font-size: 200px;
  font-weight: 900;
  /*color: white;*/
  background: linear-gradient(
    #ffffff,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.01)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/* Save just in case if need to use later***
.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;

  padding: 15px 20px;

  color: white;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather {
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}*/

.weather-icon-box {
  text-align: center;
  margin-top: -85px;
}

.location-box {
  margin-bottom: 40px;
}

.location-box .location {
  color: white;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.scrollHours {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrollHours::-webkit-scrollbar {
  display: none;
}

.weather-box-hourly {
  display: inline-block;
  margin: 5px;
}

.weather-box-hourly .tempHours {
  /*Each of the hour temp boxes*/
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;

  padding: 15px 10px;

  color: white;
  font-size: 33px;
  font-weight: 90;

  text-shadow: 2px 3px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 4px rgba(0, 0, 0, 0.2);
}

.tempHours .weatherHours {
  /*The numHours and weather deets*/
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 70;
  text-shadow: 1.5px 1.5px rgba(50, 50, 70, 0.8);
}

.carousel-scroll {
  /*The outer box of the HourlyWeather*/
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 40px;

  padding: 10px 15px;

  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

/* For mobile phones: */
.carousel-scroll {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .carousel-scroll {
    width: 88%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .carousel-scroll {
    width: 60%;
  }
}
