@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: overlay;
  font-family: "Roboto Mono", monospace;
}

.early-morning {
  background-image: linear-gradient(#78a3eb, #fbc2eb);
}

.mid-day {
  background-image: linear-gradient(#78a3eb, #acd1d1);
}

.evening {
  background-image: linear-gradient(#3c21b7, #8b63da, #cb98ed, #cfcbd2);
}

.night {
  background-image: linear-gradient(#051960, #3c21b7, #8b63da);
}

/*.app {
  background-image: url("../img/blue-gradient.jpg");*/
/*background-image: linear-gradient(#051960, #591da9);
  background-image: linear-gradient(#051960, #3c21b7, #8b63da);
  transition: all 1.5s ease-in-out;
}*/

/*.app.warm {
  background-image: url("../img/pink-gradient.jpg");
  background-image: linear-gradient(#78a3eb, #fbc2eb);
}*/

.main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.15)
  );
  padding-bottom: 25px;
}

.search-box {
  width: 90%; /* Mobile device size */
  margin: 0 auto;
  padding: 10px;
}

.search-box .search-bar {
  width: 100%;
  margin: 0 auto;

  padding: 0 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;

  box-shadow: 0px 4px rgba(0, 0, 0, 0.07);

  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.date {
  color: white;
  font-size: 15px; /* Mobile device size */
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.currTemp {
  text-align: center;
  font-size: 90px; /* Mobile device size */
  font-weight: 900;
  letter-spacing: -3px;
  line-height: 100px;
  /*color: white;*/
  background: linear-gradient(
    #ffffff,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.01)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

div.weather-icon-box {
  text-align: center;
  margin-top: -30px;
}

.icon-type {
  height: 105px;
  width: 130px;
}

.location-box {
  margin-bottom: 40px;
}

.location-box .location {
  color: white;
  font-size: 20px; /*size on mobile device*/
  font-weight: 500;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box-hourly .weatherHours {
  /*The numHours and weather deets*/
  color: white;
  font-size: 15px;
  font-weight: 500;
  text-shadow: 1.5px 1.5px rgba(25, 25, 70, 0.8);
}

.carousel-scroll {
  /*The outer box of the HourlyWeather*/
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 40px;

  padding: 10px 15px;

  color: white;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);

  width: 90%; /* For mobile phones: */
}

.carousel-scroll .hourly-title {
  text-align: center;
  margin-bottom: 25px;
  text-decoration: underline;
}

.weatherHours {
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
}

.weather-box-hourly .weatherHours .hour-num,
.weather-box-hourly .weatherHours .temp-num,
.weather-box-hourly .weatherHours .weather-sum {
  margin: 1.5px 0;
}

@media only screen and (min-width: 767px) {
  /* For tablets: */
  .search-box {
    width: 80%;
  }
  .date {
    font-size: 18px;
  }

  .currTemp {
    font-size: 100px;
  }

  .location-box .location {
    font-size: 25px;
  }

  div.weather-icon-box {
    margin-top: -25px;
  }

  .icon-type {
    height: 125px;
    width: 150px;
  }

  .carousel-scroll {
    width: 75%;
  }

  .weatherHours {
    display: flex;
    justify-content: space-evenly;
    gap: 28px;
  }

  .weather-box-hourly .weatherHours .hour-num,
  .weather-box-hourly .weatherHours .temp-num,
  .weather-box-hourly .weatherHours .weather-sum {
    margin: 4px 0;
    font-size: 20px;
  }
}

@media only screen and (min-width: 1025px) {
  /* For desktop: */
  .search-box {
    width: 60%;
  }

  .date {
    font-size: 23px;
  }

  .currTemp {
    font-size: 110px;
  }

  .location-box .location {
    font-size: 27px;
  }

  div.weather-icon-box {
    text-align: center;
    margin-top: -25px;
  }

  .icon-type {
    height: 140px;
    width: 160px;
  }

  .carousel-scroll {
    width: 65%;
  }

  .weatherHours {
    display: flex;
    justify-content: space-evenly;
    gap: 90px;
  }

  .weather-box-hourly .weatherHours .hour-num,
  .weather-box-hourly .weatherHours .temp-num,
  .weather-box-hourly .weatherHours .weather-sum {
    margin: 12px 0;
    font-size: 24px;
  }
}

/*Menu.js stuff*/
.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.LoginLinks {
  display: flex;
}
